body {
  background-image: url("../assets/bg/back.jpg"); /* Ganti sesuai lokasi gambar lo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.navbar {
  background-color: rgba(16, 14, 19, 0.8) !important; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}